<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{articleActiveClass}}"><a href="#!articles">Articles</a></li>
                <li class="{{newArticleActiveClass}}"><a href="#!newArticle">New</a></li>
                <li class="{{uploadArticleActiveClass}}"><a href="#!uploadArticle">Upload</a></li> 
            </ul>
        </div>
    </div>
</nav>