<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{templatesActiveClass}}"><a href="#!templates">Templates</a></li>
                <li class="{{newTemplateActiveClass}}"><a href="#!newTemplate">New</a></li>
                <li class="{{uploadTemplateActiveClass}}"><a href="#!uploadTemplate">Upload</a></li>            
            </ul>
        </div>
    </div>
</nav>